* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body{
  min-height: 100%;
}

body{
    background-color: darkgray;
    font-size: 1.20rem;
    margin: 0;
    padding: 0;
    font-weight: 600;
    line-height: 1.5;
    font-size: 18px;
    letter-spacing: .1em;
    background: var(--light);
    font-family: Arial, Helvetica, sans-serif;
 
}

/*Header begins right here*/

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: right;
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;
    color:darkgreen;
}


/*Navigation link within the header*/

nav {
  width: 50%;
  margin: 10px;
  padding: 5px;
 

}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
 color: black;
}

nav.scroll-containers ul li a {
  position: relative;
}

nav.scroll-containers ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.scroll-containers ul li a:hover:after {
  width: 100%;
}

/*sub-header - need to move repeating image*/

.sub-header{
    
    background-size: cover;
    min-height: 30vh;
    height: 400px;
    background-attachment: relative;
    background-position: center; 
    justify-content: center;

}


.sub-header img{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 2px;
    width: 150px;
    margin: 40px;

}

.sub-header div{
    flex: 0 0 10%;
}


/* Sub-header title - need to move the title to the right */
.sub-header div h2 {
    color: aqua;
    padding: 2px 1px;
    width: 1000px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

/*Main section*/

main{
    margin: 80px;
    width: 90%;
}

.content{
    margin: 20px 0;
    padding: 10px 0;
    flex-wrap: wrap;
    font-size: 20px;
}

.content p{
    flex: 0 0 80%;
    font-size: 20px;
    padding: 10px;
    line-height: 1.5;
    margin-bottom: 15px;
    margin: 15px;
}

.about-me{
    display: flex;
}

.about-me h1{
    border-right: 5px solid gray;
    flex: 0 0 5%;
    padding-right: 20px;
    
}
.work-card{
display: flex;


}

.work-card >h1 {
  border-right: 5px solid gray;
  flex: 0 0 5%;
  padding-right: 20px;
  
      
   
}

/* Main section*/

.project{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 80%;
    justify-content: center;
    box-sizing: border-box;
  

    
}

/*Box model*/
.surf-report{
  background-color: lightgrey;
  flex-basis: 37%;
 /* border: 5px solid aqua;*/
  padding: 20px;
  margin: 10px;
  text-align: center;
  /*display: inline-flex;*/
  flex-wrap: 1;
  transition: all 0.5s ease-in-out;
  width: 50px;
  height: 200px;
  text-size-adjust: 25px;
  justify-content: left;

  outline: solid 5px aqua;
  transition: outline 0.6s linear;
  /*margin: 0.5em;*/
  
}

.surf-report:hover { outline-width: 10px; }

.led-wall{
  background-color: lightgrey;
  flex-basis: 37%;
 /* border: 5px solid aqua;*/
  padding: 20px;
  margin: 10px;
  text-align: center;
  /*display: inline-flex;*/
  flex-wrap: 1;
  transition: all 0.5s ease-in-out;
  width: 50px;
  height: 200px;
  text-size-adjust: 25px;
  justify-content: left;

  outline: solid 5px aqua;
  transition: outline 0.6s linear;
  /*margin: 0.5em;*/
}

.led-wall:hover { outline-width: 10px; }
.calculator{
  background-color: lightgrey;
  flex-basis: 37%;
 /* border: 5px solid aqua;*/
  padding: 20px;
  margin: 10px;
  text-align: center;
  /*display: inline-flex;*/
  flex-wrap: 1;
  transition: all 0.5s ease-in-out;
  width: 50px;
  height: 200px;
  text-size-adjust: 25px;
  justify-content: left;

  outline: solid 5px aqua;
  transition: outline 0.6s linear;
  /*margin: 0.5em;*/
}

.calculator:hover { outline-width: 10px; }

.pastel-puzzels{
  background-color: lightgrey;
  flex-basis: 37%;
 /* border: 5px solid aqua;*/
  padding: 20px;
  margin: 10px;
  text-align: center;
  /*display: inline-flex;*/
  flex-wrap: 1;
  transition: all 0.5s ease-in-out;
  width: 50px;
  height: 200px;
  text-size-adjust: 25px;
  justify-content: left;

  outline: solid 5px aqua;
  transition: outline 0.6s linear;
  /*margin: 0.5em;*/
}

.pastel-puzzels:hover { outline-width: 10px; }

.run-buddy{
  background-color: lightgrey;
  flex-basis: 37%;
 /* border: 5px solid aqua;*/
  padding: 20px;
  margin: 10px;
  text-align: center;
  /*display: inline-flex;*/
  flex-wrap: 1;
  transition: all 0.5s ease-in-out;
  width: 50px;
  height: 200px;
  text-size-adjust: 25px;
  justify-content: left;

  outline: solid 5px aqua;
  transition: outline 0.6s linear;
  /*margin: 0.5em;*/
}

.run-buddy:hover { outline-width: 10px; }

.github-rep{ 
  background-color: lightgrey;
  flex-basis: 37%;
 /* border: 5px solid aqua;*/
  padding: 20px;
  margin: 10px;
  text-align: center;
  /*display: inline-flex;*/
  flex-wrap: 1;
  transition: all 0.5s ease-in-out;
  width: 50px;
  height: 200px;
  text-size-adjust: 25px;
  justify-content: left;

  outline: solid 5px aqua;
  transition: outline 0.6s linear;
  /*margin: 0.5em;*/
}

.github-rep:hover { outline-width: 10px; }


/*footer with background image*/

footer{
  
    background-size: cover;
    min-height: 30vh;
    height: 75px;
    background-attachment: relative;
    background-position: center; 
    justify-content: center;


}

.content-info{
  display: flex;
}

.into {
text-align: center;
margin: 50px;
   
}

/*coontact links with hover effect*/
.links a{
  text-decoration: none;
    font-size:xx-large;
    font-weight: 500;
    color: aqua;
    padding-left: 170px;
    text-align:center;
    background-image: linear-gradient(
      to right,
      #168866,
      #54b3d6 50%,
      hsl(0, 0%, 0%) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}


.links a:before {
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
}


.links a:hover {
  background-position: 0;
 }

 .links a:hover::before {
  width: 100%;
}

footer p{
  margin: 50px;
  text-align: center;
  color: black;
}

